.icon {
    margin: 0 5px 0 5px;
    padding: 4px;
    font-size: 20px;
    border-radius: 5px;
    transition: all 0.2s ease;
    border: 0px solid;
    color: #337ea9;
    &:hover {
        color: #dadfe9;
        background-color: #337ea9;
        opacity: 0.8x;
    }
}
